h5 {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

.cancel-link {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
  display: block;
  text-align: center;
}

.text-muted {
  opacity: 0.6;
}

.rating-icons span {
  display: inline-block;
  width: 50%;
}

.section {
  height: 33.333333vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-content {
  min-width: 80%;
  text-align: center;
}

.timer {
  font-size: 64px;
}

.pee {
  background-color: #FFE713;
  color: #887B0B;
}

.poo {
  background-color: #803E0E;
  color: #E5711E;
}

.eat {
  background-color: #1DB375;
  color: #106140;
}

.smallText {
  font-size: 14px;
  line-height: 19px;
  position: relative;
  margin-top: -30px;
}

.hours {
  margin-top: 48px;
  font-size: 10px;
  font-weight: bold;
  width: 100%;
  position: relative;
}

.hour {
  display: inline-block;
  width: 4.16666666%
}

.pee .circle, .pee .line {
  background-color: #887B0B;
}

.poo .circle, .poo .line {
  background-color: #E5711E;
}

.eat .circle, .eat .line {
  background-color: #106140;
}

.circleContainer {
  position: absolute;
  width: 4.16666666%;
  margin-top: -10px;
  margin-left: -3px;
}

.circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  }
  .circle.yesterday {
    width: 4px;
    height: 4px;
    opacity: 0.6;
    margin-top: -10px;
  }
  .circle.false {
    background-color: #FF5A5F;
  }

.lines {
  width: 100%;
}

.lineContainer {
  width: 2.074%;
  display: inline-block;
}

.lineContainer:last-child {
  width: auto;
}

.line {
  height: 2px;
  width: 1px;
  display: block;
}
.line.thick {
  width: 2px;
}

.timeLabel {
  text-transform: uppercase;
  display: inline-block;
  font-size: 10px;
  font-weight: normal;
  position: absolute;
  text-align: center;
  margin-left: -5.5px;
  margin-top: 2px;
  width: 12px;

}

.average {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 32px;
}
