h5 {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

.cancel-link {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
  display: block;
  text-align: center;
}

.text-muted {
  opacity: 0.6;
}

.rating-icons span {
  display: inline-block;
  width: 50%;
}

.section {
  height: 33.333333vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-content {
  min-width: 80%;
  text-align: center;
}

.timer {
  font-size: 64px;
}

.pee {
  background-color: #FFE713;
  color: #887B0B;
}

.poo {
  background-color: #803E0E;
  color: #E5711E;
}

.eat {
  background-color: #1DB375;
  color: #106140;
}

.smallText {
  font-size: 14px;
  line-height: 19px;
  position: relative;
  margin-top: -30px;
}
